<!DOCTYPE html>


<html>
<head>
    <title>pyoidc RP</title>
</head>
<body>

<h1>OP result</h1>
<h2>You have successfully logged in!</h2>
<dl>
    <dt>Accesstoken</dt>
    <dd>{{ access_token }}</dd>
    <h3>Endpoints</h3>
    {% for end_point, url in endpoints.items() %}
        <dt>{{ end_point }}</dt>
        <dd>{{ url }}</dd>
    {% endfor %}
</dl>
<dl>
    <dt>ID Token</dt>
    <dd>{{ id_token }}</dd>
</dl>
<h3>User information</h3>
<dl>
    {% for key, value in userinfo.items() %}
        <dt>{{ key }}</dt>
        <dd>{{ value }}</dd>
    {% endfor %}
</dl>

{% if check_session_iframe is defined %}
    <iframe id="rp_iframe" src="{{ status_check_iframe }}" hidden></iframe>
    <iframe id="op_iframe" src="{{ check_session_iframe }}" hidden></iframe>
{% endif %}

<input type="button" onclick="location.href='{{ logout_url }}'"
       value="Logout!" />

</body>
</html>